.board {
  background: rgba(113, 113, 113, 0.2);
  background-repeat: no-repeat;
  padding: 20px;
  margin: 20px;
  height: 90vh;
  display: flex;
  align-items: baseline;
}

.board_sec {
  display: flex;
  width: 272px;

  padding: 6px 12px;
  box-shadow: 0 0 20px rgba(221, 216, 216, 0.2);
  justify-content: space-between;
  border-radius: 12px;
  align-items: center;
}

.boardGap {
  border: 2px solid #fff;
  border-radius: 2px;

  background-color: #ebecf0;
}
.listInput {
  width: 272px !important;
  transition: none !important;
}
.listInput:focus {
  border: 2px solid var(--dynamic-text-color) !important;
  box-shadow: none !important;
}

.actionBtn {
  background-color: var(--dynamic-text-color);
  color: white !important;
  padding: 6px 12px;
  line-height: 20px;
  display: flex;

  justify-content: center;
  align-items: center;
  font-size: 14px;
  border-radius: 3px;
  margin: 4px 0px;
  cursor: pointer;
}

.actionBtn:hover {
  background-color: #0267a2;
}

